
<div class="container" style="margin:10px 10px; width: 100%;">
    <input type="text" placeholder="quick search" style="margin: auto;" (keyup)="Quicksearch()" [(ngModel)]="searchValue"/>
    <button type="button" class="btn btn-info" (click)="agGrid.api.selectAll()">select all</button>
    <button type="button" class="btn btn-info" (click)="agGrid.api.deselectAll()">deselectAll</button>
    <button type="button" class="btn btn-info" (click)="getSelectedRows()">Get Selected Rows</button>
</div>
<div style="width: 100%;" >
	<ag-grid-angular
		#agGrid
		style="width: 90%; height: 600px; margin:auto;"
		class="ag-theme-alpine"
		[columnDefs]="columnDefs"
		[defaultColDef]="defaultColDef"
		[defaultColGroupDef]="defaultColGroupDef"
		[columnTypes]="columnTypes"
		[rowData]="rowData"
		(gridReady)="onGridReady($event)"
		[animateRows]="true"
		[pagination]="true"
		[paginationPageSize]=10
	></ag-grid-angular>
</div>


